@model IEnumerable<DBMigration.CompareSimilarDBs.Data.BaseLegadaGrupo>
@using DBMigration.CompareSimilarDBs.Data
@{
    ViewData["Title"] = "Bases legadas";
}

<h1 class="display-4">Análise de bases legadas de migração</h1>

<p>
    <a href="#" onclick="CriarGrupo();">Novo grupo</a> |
    <a asp-action="Search">Buscar novas bases</a> |
    <a asp-action="GenDacPacs">Gerar DACPACs</a>
    <div class="alert alert-secondary" role="alert">
        As bases são buscadas conforme string de conexão e prefixo configurados no respectivo grupo.
    </div>

    @if (!string.IsNullOrWhiteSpace(TempData["MensagemSucesso"]?.ToString()))
    {
        <div class="alert alert-success" role="alert">
            @Html.Raw(@TempData["MensagemSucesso"])
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(TempData["MensagemFalha"]?.ToString()))
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(@TempData["MensagemFalha"])
        </div>
    }
</p>
@foreach (BaseLegadaGrupo grupo in Model)
{
    @Html.Partial("_GridBaseLegadaGrupo", grupo)
}
@if (Model.Count() == 0)
{
    <div class="alert alert-info" role="alert">
        Nennhum grupo cadastrado.
    </div>
}

<div class="modal fade" id="modal-create-grupo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Novo grupo</h3>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                <iframe id="grupoCreate" src='' width="100%" height="350" frameBorder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-editar-grupo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Editando grupo</h3>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                <iframe id="grupoEditar" src='' width="100%" height="350" frameBorder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $(".modal-content").draggable();
    })
    function CriarGrupo() {
        $('#grupoCreate').removeAttr('src').attr('src', '@Url.Action("Create", "BaseLegadaGrupos")');
        $('#modal-create-grupo').modal();
        }
    function EditarGrupo(id) {
        $('#grupoEditar').removeAttr('src').attr('src', '@Url.Action("Edit", "BaseLegadaGrupos")/'+id);
        $('#modal-editar-grupo').modal();
    }
    function DetalhesBase(id) {
        $('#baseDetails').removeAttr('src').attr('src', '@Url.Action("Details", "BaseLegadas")/' +id);
        $('#modal-detalhes-base').modal();
    }
    function EditarBase(id) {
        $('#baseEditar').removeAttr('src').attr('src', '@Url.Action("Edit", "BaseLegadas")/' +id);
        $('#modal-editar-base').modal();
    }
    function ExcluirBase(id) {
        $('#baseDelete').removeAttr('src').attr('src', '@Url.Action("Delete", "BaseLegadas")/' + id).on('load', function () { $('#modal-delete-comparacao').modal('hide');});
        $('#modal-delete-base').modal();
    }
    </script>
}
